{% extends "base_formulario.html" %}

{% block title %}Formulario mascota perdida{% endblock title %}
 
{% block titulo_formulario %}¡Perdí mi mascota! ¿Qué hago?{% endblock titulo_formulario %}

{% block titulo_ubicacion %}Dónde se perdió?{% endblock titulo_ubicacion %}

{% block explicacion_formulario %}
Estamos para ayudarte a encontrar a tu mascota. Al reportar a un perro o gato como perdido, aparecerá en la lista de mascotas perdidas, y si alguien lo encuentra, podrán contactarse contigo.

Por favor, completa el siguiente formulario con la información de tu mascota, los detalles de su desaparición y tus datos de contacto. ¡Cuanta más información brindes, mayores serán las posibilidades de que tu mascota vuelva a casa! 
{% endblock explicacion_formulario %}

{% block formulario %}
    <div class="txt-verde">
      <h3 class="fw-semibold"><i class="fa-solid fa-circle-info"></i> Datos sobre tus mascota</h3>

        <form class="row g-3 needs-validation" novalidate action="{{ url_for('perdido') }}" method="POST" id="formulario">
          <input type="text" name="direccion" id="direccion" class="d-none" value="">
            <input type="text" name="coordx" id="coordx" class="d-none" value="">
            <input type="text" name="coordy" id="coordy" class="d-none" value="">

            <div class="col-md-4">
              <label for="inputNombre" class="form-label">Nombre de la mascota</label>
              <input name="nombre_mascota" id="inputNombre" type="text" maxlength="20" class="form-control bg-gris focus-ring-alga" required>
              <div class="invalid-feedback">
                Campo requerido!
              </div>
            </div>

            <div class="col-md-4">
                <label for="inputSexo" class="form-label">Sexo</label>
                <select name="sexo" id="inputSexo" class="form-select bg-gris focus-ring-alga" required>
                  <option selected></option>
                  <option value="macho">Macho</option>
                  <option value="hembra">Hembra</option>
                </select>
                <div class="invalid-feedback">
                  Campo requerido!
                </div>
              </div>

            <div class="col-md-4">
                <label for="inputEdad" class="form-label">Edad</label>
                <select name="edad" id="inputEdad" class="form-select bg-gris focus-ring-alga" required>
                  <option selected></option>
                  <option value="cachorro">Cachorro</option>
                  <option value="joven">Joven</option>
                  <option value="adulto">Adulto</option>
                </select>
                <div class="invalid-feedback">
                  Campo requerido!
                </div>
              </div>

            <div class="col-md-4">
                <label for="tipoMascota" class="form-label">Tipo de animal</label>
                <select name="animal" id="tipoMascota" class="form-select bg-gris focus-ring-alga" required>
                  <option selected></option>
                  <option value="perro">Perro</option>
                  <option value="gato">Gato</option>
                </select>
                <div class="invalid-feedback">
                  Campo requerido!
                </div>
              </div>

            <div class="col-md-4">
                <label for="razaMascota" class="form-label">Raza</label>
                <select name="raza" id="razaMascota" class="form-select bg-gris focus-ring-alga" required disabled>
                  <option selected></option>
                  {% for tipo, caracteristicas in caracteristicas_animales.items() %}
                  {% for raza in caracteristicas['raza'] %}
                    <option data-tipo-mascota="{{ tipo }}" value="{{ raza }}">{{ raza }}</option>
                  {% endfor %}
                {% endfor %}
                </select>
                <div class="invalid-feedback">
                  Campo requerido!
                </div>
              </div>

            <div class="col-md-4">
              <label for="colorPrincipalMascota" class="form-label">Color principal</label>
              <select name="color" id="colorPrincipalMascota" class="form-select bg-gris focus-ring-alga" required disabled>
                <option selected></option>
                {% for tipo, caracteristicas in caracteristicas_animales.items() %}
                {% for color in caracteristicas['color'] %}
                  <option data-tipo-mascota="{{ tipo }}" value="{{ color }}">{{ color }}</option>
                {% endfor %}
              {% endfor %}
              </select>
              <div class="invalid-feedback">
                Campo requerido!
              </div>
            </div>

            <div class="col-md-3 mb-3 ">
                <label for="inputFechaExtravio" class="form-label">Fecha de extravío</label>
                <input name="fecha_extravio" type="date" class="form-control bg-gris focus-ring-alga" id="inputFechaExtravio" required>
                <div class="invalid-feedback">
                  Campo requerido!
                </div>
              </div>

            <div class="mb-3 col-9 ">
                <label for="FormControlTextareaComentarios" class="form-label">Comentarios adicionales</label>
                <textarea name="info_adicional" maxlength="280" class="form-control bg-gris focus-ring-alga" id="FormControlTextareaComentarios" rows="3"></textarea>
              </div>  

            <div class="row mb-2">
                <label for="inputNombreContacto" class="col-sm-2 col-form-label">Nombre de contacto</label>
                <div class="col-sm-10">
                  <input name="nombre_contacto" maxlength="64" class="form-control bg-gris focus-ring-alga" type="text" id="inputNombreContacto" required>
                  <div class="invalid-feedback">
                    Campo requerido!
                  </div>
                </div>
              </div>

            <div class="row mb-3">
                <label for="inputTelefonoContacto" class="col-sm-2 col-form-label">Teléfono de contacto</label>
                <div class="col-sm-10">
                  <input name="telefono_contacto" pattern="\d+" minlength="8" maxlength="20" class="form-control bg-gris focus-ring-alga" type="tel" id="inputTelefonoContacto" required>
                  <div class="invalid-feedback">
                    Campo requerido!
                  </div>
                </div>
              </div>
              
            <div class="col-12">
              <button type="submit" class="btn txt-crema bg-alga fw-medium btn-alga-gris">Enviar datos</button>
            </div>

          </form>    
     </div>
<!-- MODAL ERROR FECHA -->
<div class="modal fade modal-lg" id="popUpErrorFecha" aria-hidden="true" aria-labelledby="popUpErrorFechaLabel"
tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content p-3">
        <div class="border-0 pb-0 text-end">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <h1 class="modal-title text-center fs-3 txt-alga fw-bold lh-1" id="popUpErrorFechalabel">¡Lo sentimos!</h1>
        </div>
        <div class="modal-body text-center"id="popUpErrorFechaBody">
            <p class="fs-5 fw-light text-center">Al parecer has ingresado una fecha inválida</p>
            <i class="txt-alga me-3 fs-5 fa-solid fa-paw"></i>
            <i class="txt-verde fs-3 fa-regular fa-face-frown"></i>
            <i class="txt-alga ms-3 fs-5 fa-solid fa-paw"></i>
        </div>
    </div>
  </div>
</div>
{% endblock formulario %}

{% block scripts %}
<!-- validacion_formulario -->
<script src="{{ url_for('static', filename='js/validacion_formulario.js') }}"></script>

<!--  js - leaflet -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>

<!-- js - API normlizacion de direcciones  -->
<script src="{{ url_for('static', filename='js/script_direcciones.js') }}"></script>

<!--filtrar caracteristicas-->
<script src="{{ url_for('static', filename='js/script_filtrar_caract.js') }}"></script>

{% endblock scripts %}
