{% extends 'base.html' %}
{% block title %} Patitas Perdidas {% endblock %}
{% set color_fondo = "bg-claro" %}
{% set color_letras = "txt-verde" %}
{% set pos_absoluta = "position-absolute z-1" %}
{% block styles %} <link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles_home.css') }}"/> {% endblock %}
{% block content %}
    <div id="main" class="d-flex justify-content-start ">
        <div class="align-items-start d-flex flex-column container justify-content-end px-0" id="botonera">
            <a class="fs-3 btn-lg btn btn-success border-0 bg-verde rounded-4 mb-4 px-5 py-3 text-center" href="#">Buscar a mi mascota</a>
            <a class="fs-3 btn-lg btn btn-success border-0 bg-alga rounded-4 mb-4 px-5 py-3 text-center" href="#">Encontré una mascota</a>
            <a class="fs-3 btn-lg btn btn-warning border-0 bg-naranja text-light rounded-4 mb-4 px-5 py-3 text-center" href="#">Tengo un refugio</a>
        </div>
    </div>
    <div class="p-5 pb-1 bg-alga text-center">
        <h2 class="text-light mb-4">Reencontrando familias y mascotas</h2>
        <div class="d-flex justify-content-around bg-crema rounded-pill container align-items-center py-4">
            <i class="fa-solid fa-shield-dog txt-verde display-1 ms-3"></i>
            <p class="d-flex allign-self-center m-auto container">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla consequat nunc a blandit.owrvnowjnvjrnvojwrnvojrwvnownvoewnvoewnouwnvonrvornouwrnvovnovwrnvowrnvouwrnvoruwnvouwngubroubvow</p>
            <i class="fa-solid fa-shield-cat txt-verde display-1 me-3"></i>
        </div>
        <div class="mt-4 d-flex justify-content-around">
            <div class="text-center col-4">
                <img src="{{ url_for('static', filename = 'images/animal_1.jpg') }}" alt="Feature 1" class="rounded-circle my-4 object-fit-cover w-50 h-50">
                <p class="text-light m-auto">"Lucas vio a Churrasquito por la calle y nos llamó... Super agradecidos con esta red"</p>
                <p class="txt-gris m-auto">Benjamín - Nuñez CABA</p>
            </div>
            <div class="text-center col-4">
                <img src="{{ url_for('static', filename = 'images/animal_2.jpg') }}" alt="Feature 2" class="rounded-circle my-4 object-fit-cover w-50 h-50">
                <p class="text-light m-auto">"Encontramos a Chad estábamos desesperados"</p>
                <p class="txt-gris m-auto">Carolina - Morón PBA</p>
            </div>
            <div class="text-center col-4">
                <img src="{{ url_for('static', filename = 'images/animal_3.jpg') }}" alt="Feature 3" class="rounded-circle my-4 object-fit-cover w-50 h-50">
                <p class="text-light m-auto">"Gracias a Patitas Perdidas pude encontrar a Chicho"</p>
                <p class="txt-gris m-auto">Juan - San Telmo CABA</p>
            </div>
        </div>
    </div>
{% endblock %}
