{% extends 'base.html' %}
{% block title %} Refugios - Patitas Perdidas {% endblock %}
{% block styles %} 
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles_refugios.css') }}"/> 
<!-- css - leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
<link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}">
{% endblock %}
{% set color_fondo = "bg-gris" %}
{% set color_letras = "txt-verde" %}
{% block content %}
    <div class="container">
        <div class="bg-verde col-12 p-4 mb-4 rounded-3">
            <h1 class="text-light display-5 fw-bold">Refugios en nuestra red</h1>
            <p class="text-light lh-sm m-0 fs-5">Aquí encontrarás todos los refugios de nuestra red, con este mapa interactivo podrás buscarlos, y abajo hay un listado de estos, con su respectiva información para contactarlos en caso de encontrar una mascota en la calle que parezca no tener dueño y estar perdida</p>
        </div>

        <!-- Mapa -->
        <div id="map" class="my-4 rounded-3 bg-light"></div>

        <!-- Refugios -->
        <div class="row gx-3 row-cols-4 px-4 py-2">
            {% for refugio in refugios %}
            <div class="col-3 tarjeta-refugio h-auto my-3" data-nombre="{{ refugio['nombre'] }}" data-coordx="{{ refugio['coordx'] }}" data-coordy="{{ refugio['coordy'] }}">
                <div class="position-relative">
                    <span class="position-absolute top-0 start-0 translate-middle p-2 bg-white rounded-circle">
                        <i class="txt-naranja fa-solid fa-shield-heart fs-3"></i>
                    </span>
                </div>
                <div class="bg-crema p-4 text-center rounded-3 mb-3 h-100">
                    <h2 class="mt-2">{{ refugio['nombre'] }}</h2>
                    <h5 class="m-0">Contacto:</h5>
                    <p class="m-0 text-black">Teléfono: {{ refugio['telefono'] }}</p>
                    <h5 class="m-0">Dirección:</h5>
                    <p class="m-0">{{ refugio['direccion'] }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Paginación -->
        <div class="d-flex justify-content-center mt-3" id="paginacion">
            <form action="{{ url_for('refugios') }}" method="POST">
                <button type="submit" name="pagina" value="{{ pagina - 1 }}" class="btn btn-success bg-alga rounded-circle text-center text-light border-0 mx-3 btn-pag"
                    {% if not hay_pagina_anterior %} disabled {% endif %}>
                    <i class="m-0 p-0 fa-solid fa-angle-left"></i>
                </button>
            </form>

            <p class="rounded-circle text-center bg-verde text-light pt-2 btn-pag">{{ pagina }}</p>

            <form action="{{ url_for('refugios') }}" method="POST">
                <button type="submit" name="pagina" value="{{ pagina + 1 }}" class="btn btn-success bg-alga rounded-circle text-center text-light border-0 mx-3 btn-pag"
                    {% if not hay_pagina_siguiente %} disabled {% endif %}>
                    <i class="m-0 p-0 fa-solid fa-angle-right"></i>
                </button>
            </form>
        </div>

        <!-- Agregar refugio -->
        <div class="bg-verde p-4 rounded-3 d-flex flex-md-row flex-column justify-content-evenly align-items-center mb-3">
            <p class="text-light fs-3 fw-bold m-0 text-center text-md-start lh-1 mb-3 mb-md-0">¿Querés unirte a nuestra red?</p>
            <a href="{{ url_for('agregar_refugio') }}" class="btn bg-amarillo btn-warning border-0 rounded-pill w-auto px-5 fs-5 m-0">Agregar mi refugio</a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!--  js - leaflet -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
{% endblock scripts %}